<div class="widgets">
    <div class="row">
        <div class="col-md-9">
            <div ba-panel ba-panel-title="Criar uma campanha de E-mail Marketing" ba-panel-class="with-scroll">
                <ba-wizard>
                    <ba-wizard-step title="Remetente">
                        <h1 class="ui header ng-scope" style="padding-bottom: 15px;">Selecione um modelo</h1>
                        <div class="ui five link cards" style="max-width: 800px;">
                            <div class="card" ng-click="vm.beefree()">
                                <div class="image">
                                    <img ng-src="{{::( vm.template | profilePicture )}}"">
                                </div>
                                <div class="content">
                                    <h4 class="description">Modelo 1</h4>
                                </div>
                            </div>

                            <div class="card" ng-click="vm.beefree()">
                                <div class="image">
                                    <img ng-src="{{::( vm.template | profilePicture )}}">
                                </div>
                                <div class="content">
                                    <h4 class="description">Modelo 2</h4>
                                </div>
                            </div>

                            <div class="card" ng-click="vm.beefree()">
                                <div class="image">
                                    <img ng-src="{{::( vm.template | profilePicture )}}">
                                </div>
                                <div class="content">
                                    <h4 class="description">Modelo 3</h4>
                                </div>
                            </div>

                            <div class="card" ng-click="vm.beefree()">
                                <div class="image">
                                    <img ng-src="{{::( vm.template | profilePicture )}}">
                                </div>
                                <div class="content">
                                    <h4 class="description">Modelo 4</h4>
                                </div>
                            </div>
                        </div>


                    </ba-wizard-step>

                    <ba-wizard-step title="Remetente" form="vm.verifiedEmailAddresses">
                        <form name="vm.verifiedEmailAddresses" novalidate>
                            <div>
                                <div class="form-group"
                                     ng-class="{ 'has-error': vm.verifiedEmailAddresses.email.$touched && vm.verifiedEmailAddresses.email.$invalid }">
                                    <input type="email" class="form-control compose-input default-color"
                                           placeholder="Email do remetente" ng-model="vm.advertising.from"
                                           id="email" name="email"
                                           style="margin-bottom: 10px;" required email-available="">
                                    <div class="user-help"
                                         ng-if="vm.verifiedEmailAddresses.email.$dirty && vm.verifiedEmailAddresses.email.$invalid">
                                        <span ng-if="vm.verifiedEmailAddresses.email.$error.required">Please enter your email.</span>
                                        <span ng-if="vm.verifiedEmailAddresses.email.$error.email">This is not a valid email.</span>
                                        <span ng-if="vm.verifiedEmailAddresses.email.$error.checkingEmail">Checking email...</span>
                                        <span ng-if="vm.verifiedEmailAddresses.email.$error.emailAvailable">Email não verificado</span>
                                        <button type="button" class="btn btn-info"
                                                ng-if="(vm.verifiedEmailAddresses.email.$error.emailAvailable &&
                                                !vm.verifiedEmailAddresses.email.$error.email &&
                                                !vm.verifiedEmailAddresses.email.$error.required &&
                                                !vm.verifiedEmailAddresses.email.$error.checkingEmail)"
                                                ng-click=vm.verifyEmailIdentity()>Verificar Email
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </ba-wizard-step>

                    <ba-wizard-step title="Dados da Campanha" form="vm.advertisingData">
                        <form name="vm.advertisingData" novalidate>
                            <div>
                                <div class="form-group"
                                     ng-class="{ 'has-error': vm.verifiedEmailAddresses.email.$touched &&
                                     vm.verifiedEmailAddresses.email.$invalid }">
                                    <input type="text" class="form-control compose-input default-color"
                                           name="title" id="title"
                                           placeholder="Nome da campanha" ng-model="vm.advertising.title"
                                           style="margin-bottom: 10px;">
                                </div>
                                <input type="text" class="form-control compose-input default-color"
                                       placeholder="Assunto" ng-model="vm.advertising.subject"
                                       style="margin-bottom: 10px;">
                                <input type="text" class="form-control compose-input default-color"
                                       placeholder="De Nome" ng-model="vm.advertising.name"
                                       style="margin-bottom: 10px;">
                                <input type="text" class="form-control compose-input default-color"
                                       placeholder="De Email" ng-model="vm.advertising.from"
                                       style="margin-bottom: 10px;">
                                <input type="text" class="form-control compose-input default-color"
                                       placeholder="Reply-to Email" ng-model="vm.advertising.reply"
                                       style="margin-bottom: 10px;">

                            </div>
                        </form>
                    </ba-wizard-step>
                    <ba-wizard-step title="Segmentação da campanha">
                        <div class="form-group">

                            <!--/Pick List-->
                            <div class="table-container">
                                <table class="table" st-table="vm.contactsLists">
                                    <thead>
                                    <tr class="sortable ">
                                        <th style="text-align: left;">#</th>
                                        <th style="text-align: left;">Nome</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr st-select-row="row" st-select-mode="multiple"
                                        ng-repeat="row in vm.contactsLists">
                                        <td style="text-align: left;">
                                            <input type="checkbox"
                                                   ng-click="vm.selectItem($event, row.id)"
                                                   ng-checked="isSelected(row.id)"/>
                                        </td>
                                        <td style="text-align: left;">{{row.nome_lista}}</td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="6" class="text-center">
                                            <div st-pagination="" st-items-by-page="vm.smartTablePageSize"
                                                 st-displayed-pages="5"></div>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                                <button type="button" class="btn btn-info" ng-click=vm.openSaveModal()>Criar Lista
                                </button>
                            </div>

                        </div>
                        <div>

                        </div>

                    </ba-wizard-step>

                    <ba-wizard-step title="Salvar">
                        <div class="row">
                            <div class="col-md-6">
                                <div ba-panel
                                     ba-panel-title="Standard Fields"
                                     ba-panel-class="with-scroll">
                                    <div ng-bind-html="vm.advertising.html_content"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <form>
                                    <div class="row">
                                        <button type="button" class="btn btn-info" ng-click=vm.getCampanha()>Salvar e
                                            enviar
                                            depois
                                        </button>
                                        <br>
                                    </div>
                                    <div class="row" style="margin-top: 10px;">
                                        <button type="button" class="btn btn-info"
                                                ng-click=vm.sendAwsSes()>
                                            Enviar Campanha
                                        </button>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </ba-wizard-step>
                </ba-wizard>
            </div>
        </div>
        <div class="col-md-3">
            <div ba-panel ba-panel-class="with-scroll">
                <h2>Alcance</h2>
                <p>
                    Acompanhe quantas pessoas irão receber a sua campanha de E-mail Marketin
                </p>
                <h4 style="font-size: 15px;">{{totalEmails}} pessoas</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-panel" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                         aria-valuemax="100" style="width: 50%">
                        <span class="sr-only">50% Complete (danger)</span>
                    </div>
                </div>
                <h3>Orçamento</h3>
                <h1>{{totalPayable | currency:"R$"}}</h1>
                <p>Este é o valor total para você enviar para o alcance.</p>
                <div class="sidebar-stats">
                    <h3 style="color: #fff;">SEUS CRÉDITOS</h3>
                    <div class="sidebar-stats-lead text-primary" style="color: #fff;">
                        <h1 style="font-size: 42px;">{{balanceEmail | currency:"R$"}}</h1>
                        <small class="text-success">
                        </small>
                    </div>
                </div>
                <buy-credit></buy-credit>
            </div>
        </div>
    </div>
</div>





