<div ba-panel ba-panel-class="profile-page">
  <div class="panel-content">
    <div class="panel">
      <div class="panel-heading clearfix">
        <div class="col-xs-3 text-left panelCustonTitle">
          <h3 class="panel-title">Ativar Licença</h3>
        </div>
        <div class="col-xs-9 text-right" style="margin-top: -5px;">
          filtrar por:      
          <span class="panel-title btn-group">
            <button ng-disabled="underCreation" type="button" class="btn btn-default btn-sm abc" ng-click="addUser()">
              <span class="glyphicon glyphicon-plus text-primary"></span>
              <span class="text-primary"><strong>Add</strong></span>
            </button>
          </span>
        </div>
      </div>
      <div class="panel-body panelBodyCuston">
        <div class="col-md-12">
          <div class="form-group row clearfix">
            <label for="input01">Insira abaixo o código da sua licença</label>
            <center>
              <input type="text" class="form-control" id="inputEmail3" 
              placeholder="Código" ng-model="vm.licenseCod" style="text-align: center;">
              <button type="button" class="btn btn-primary btn-with-icon save-profile"
              ng-click="vm.addLicense()">
              Ativar Licença
            </button>
          </center>
        </div>
      </div>
    </div>
  </div>

  <div class="panel">
    <div class="panel-heading clearfix">
      <div class="col-xs-3 text-left panelCustonTitle">
        <h3 class="panel-title">Minhas Licenças</h3>
      </div>
    </div>
    <div class="panel-body panelBodyCuston">

      <div class="horizontal-scroll">
        <table class="table table-hover">
          <thead>
            <tr class="sortable">
              <th>Ponto de acesso</th>
              <th>Status</th>
              <th>Nº Serial</th>
              <th>Data de Ativação</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in vm.listLicense" class="editable-tr-wrap">
              <td>{{item.ponto}}</td>
              <td>{{item.status}}</td>
              <td>{{item.codigo}}</td>
              <td>{{item.dataAtivacao | date: 'dd/MM/yyyy HH:mm'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
</div>
