<div class="widgets">
    <div class="row">
        <div class="col-md-9">
            <div ba-panel ba-panel-title="Criar E-mail Marketing" ba-panel-class="with-scroll">
                <ba-wizard>
                    <ba-wizard-step title="Dados da Campanha" form="vm.personalInfoForm">
                        <form name="vm.personalInfoForm" novalidate>
                            <div>
                                <input type="text" class="form-control compose-input default-color"  placeholder="Nome da campanha" ng-model="vm.advertising.title"
                                       style="margin-bottom: 10px;">
                                <input type="text" class="form-control compose-input default-color"  placeholder="Assunto" ng-model="vm.advertising.subject" style="margin-bottom: 10px;">
                            </div>
                        </form>
                    </ba-wizard-step>
                    <ba-wizard-step title="Segmentação da campanha">
                        <div class="form-group">
                            <ui-select multiple ng-model="vm.listsIds"
                                       ng-disabled="false"
                                       search-enabled="true"
                                       append-to-body="true"
                                       class="form-control ">
                                <ui-select-match placeholder="Multiple Select">
                                    {{$item.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="multipleItem in vm.contactsLists | filter: $select.search">
                                    {{multipleItem.name}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div>
                            <button type="button" class="btn btn-info" ng-click=vm.createListSms()>Criar Lista</button>
                        </div>

                    </ba-wizard-step>

                    <ba-wizard-step title="Customização">
                        <div class="compose-container">
                            <text-angular-toolbar ta-toolbar-class="toolbarMain" name="toolbarMain" ta-toolbar="[['h1','h2','h3','bold','italics', 'underline', 'justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull']]"></text-angular-toolbar>
                            <text-angular name="htmlcontent" ta-target-toolbars='toolbarMain,toolbarFooter' ng-model="vm.advertising.html_content"
                                          placeholder="Descrição"></text-angular>
                        </div>

                    </ba-wizard-step>

                    <ba-wizard-step title="Salvar">
                        <div class="row">
                            <div class="col-md-6">
                                <div ba-panel
                                     ba-panel-title="Standard Fields"
                                     ba-panel-class="with-scroll">
                                    <div ng-bind-html="vm.advertising.html_content"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <form>
                                    <button type="button" class="btn btn-info" ng-click=vm.send()>Enviar Campanha</button>
                                </form>
                            </div>

                        </div>

                    </ba-wizard-step>
                </ba-wizard>
            </div>
        </div>
        <div class="col-md-3">
            <div ba-panel ba-panel-title="Informações" ba-panel-class="with-scroll">
                <h2>Alcance</h2>
                <p>
                    Acompanhe quantas pessoas irão receber a sua campanha de E-mail Marketin
                </p>
                <h4>50.000 pessoas</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                        <span class="sr-only">50% Complete (danger)</span>
                    </div>
                </div>
                <h3>Orçamento</h3>
                <h1>R$150,00</h1>
                <p>Este é o valor total para você enviar para o alcance.</p>
            </div>
        </div>
    </div>

</div>