<div class="widgets">
    <div class="row">
        <div class="col-md-9">
            <div ba-panel ba-panel-title="Criar uma campanha de E-mail Marketing" ba-panel-class="with-scroll">
                <ba-wizard>
                    <ba-wizard-step title="Remetente" form="vm.verifiedEmailAddresses">
                        <form name="vm.verifiedEmailAddresses" novalidate>
                            <div>
                                <div class="form-group"
                                     ng-class="{ 'has-error': vm.verifiedEmailAddresses.email.$touched && vm.verifiedEmailAddresses.email.$invalid }">
                                    <input type="email" class="form-control compose-input default-color"
                                           placeholder="Email do remetente" ng-model="vm.advertising.from"
                                           id="email" name="email"
                                           style="margin-bottom: 10px;" required email-available="">
                                    <div class="user-help"
                                         ng-if="vm.verifiedEmailAddresses.email.$dirty && vm.verifiedEmailAddresses.email.$invalid">
                                        <span ng-if="vm.verifiedEmailAddresses.email.$error.required">Please enter your email.</span>
                                        <span ng-if="vm.verifiedEmailAddresses.email.$error.email">This is not a valid email.</span>
                                        <span ng-if="vm.verifiedEmailAddresses.email.$error.checkingEmail">Checking email...</span>
                                        <span ng-if="vm.verifiedEmailAddresses.email.$error.emailAvailable">Email não verificado</span>
                                        <button type="button" class="btn btn-info"
                                                ng-if="(vm.verifiedEmailAddresses.email.$error.emailAvailable &&
                                                !vm.verifiedEmailAddresses.email.$error.email &&
                                                !vm.verifiedEmailAddresses.email.$error.required &&
                                                !vm.verifiedEmailAddresses.email.$error.checkingEmail)"
                                                ng-click=vm.verifyEmailIdentity()>Verificar Email
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </ba-wizard-step>

                    <ba-wizard-step title="Dados da Campanha" form="vm.advertisingData">
                        <form name="vm.advertisingData" novalidate>
                            <div>
                                <div class="form-group"
                                     ng-class="{ 'has-error': vm.verifiedEmailAddresses.email.$touched &&
                                     vm.verifiedEmailAddresses.email.$invalid }">
                                    <input type="text" class="form-control compose-input default-color"
                                           name="title" id="title"
                                           placeholder="Nome da campanha" ng-model="vm.advertising.title"
                                           style="margin-bottom: 10px;">
                                </div>
                                    <input type="text" class="form-control compose-input default-color"
                                           placeholder="Assunto" ng-model="vm.advertising.subject"
                                           style="margin-bottom: 10px;">
                                    <input type="text" class="form-control compose-input default-color"
                                           placeholder="De Nome" ng-model="vm.advertising.nome"
                                           style="margin-bottom: 10px;">
                                    <input type="text" class="form-control compose-input default-color"
                                           placeholder="De Email" ng-model="vm.advertising.from"
                                           style="margin-bottom: 10px;">
                                    <input type="text" class="form-control compose-input default-color"
                                           placeholder="Reply-to Email" ng-model="vm.advertising.reply"
                                           style="margin-bottom: 10px;">

                            </div>
                        </form>
                    </ba-wizard-step>
                    <ba-wizard-step title="Segmentação da campanha">
                        <div class="form-group">

                            <!--/Pick List-->

                            <div class="row">
                                <div class="col-md-12 text-center"><h3>Pick List</h3></div>
                                <div class="col-sm-4 col-sm-offset-1">
                                    <div class="list-group" id="list1">
                                        <a href="javascript:;" class="list-group-item active">Staff
                                            <input title="Toggle all" ng-click="toggleA()" ng-model="toggle"
                                                   value="{{toggle}}" type="checkbox" class="pull-right"></a>
                                        <span ng-repeat="user in listA">
                  <a href="javascript:;" data-id="{{user.id}}" x-lvl-draggable="true" class="list-group-item">{{user.name}}
                    <input id="{{user.id}}" ng-click="selectedAClick(user)" name="selectedA[]"
                           value="{{user.id}}" ng-checked="selectedA.indexOf(user.id) > -1"
                           type="checkbox" class="pull-right" ng-model="user.checked">
                  </a>
                </span>
                                    </div>
                                </div><!--/col-4-->
                                <div class="col-md-2 v-center text-center">
                                    <div class="btn-group">
                                        <button title="Send to list 1" class="btn btn-default" ng-click="bToA()"
                                                id="btnA"><i class="glyphicon glyphicon-chevron-left"></i></button>
                                        <button title="Send to list 2" class="btn btn-default" ng-click="aToB()"
                                                id="btnB"><i class="glyphicon glyphicon-chevron-right"></i></button>
                                    </div>
                                </div><!--/col-2-->
                                <div class="col-sm-4">
                                    <div class="list-group" id="list2">
                                        <a href="javascript:;" class="list-group-item active">Team Members
                                            <input title="Toggle all" ng-click="toggleB()" ng-model="toggle"
                                                   value="{{toggle}}" type="checkbox" class="pull-right">
                                        </a>
                                        <span ng-repeat="user in listB">
                  <a href="javascript:;" data-id="{{user.id}}" class="list-group-item" x-lvl-draggable="true">{{user.name}}
                    <input id="{{user.id}}" ng-click="selectedB.push(user.id)" name="selectedB[]" value="{{user.id}}"
                           ng-checked="selectedB.indexOf(user.id) > -1" type="checkbox" class="pull-right">
                  </a>
                </span>
                                    </div>
                                </div><!--/col-4-->
                            </div><!--/row-->


                        </div>
                        <div>

                        </div>

                    </ba-wizard-step>

                    <ba-wizard-step title="Customização">
                        <div class="compose-container">
                            <text-angular-toolbar ta-toolbar-class="toolbarMain" name="toolbarMain"
                                                  ta-toolbar="[['h1','h2','h3','bold','italics', 'underline', 'justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull']]"></text-angular-toolbar>
                            <text-angular name="htmlcontent" ta-target-toolbars='toolbarMain,toolbarFooter'
                                          ng-model="vm.advertising.html_content"
                                          placeholder="Descrição"></text-angular>
                        </div>

                    </ba-wizard-step>

                    <ba-wizard-step title="Salvar">
                        <div class="row">
                            <div class="col-md-6">
                                <div ba-panel
                                     ba-panel-title="Standard Fields"
                                     ba-panel-class="with-scroll">
                                    <div ng-bind-html="vm.advertising.html_content"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <form>
                                    <div class="row">
                                        <button type="button" class="btn btn-info" ng-click=vm.create()>Salvar e enviar
                                            depois
                                        </button>
                                        <br>
                                    </div>
                                    <div class="row" style="margin-top: 10px;">
                                        <button type="button" class="btn btn-info"
                                                ng-click=vm.send() ng-disabled="vm.disableSend" ng-if="!vm.disableSend">
                                            Enviar Campanha
                                        </button>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </ba-wizard-step>
                </ba-wizard>
            </div>
        </div>
        <div class="col-md-3">
            <div ba-panel ba-panel-class="with-scroll">
                <h2>Alcance</h2>
                <p>
                    Acompanhe quantas pessoas irão receber a sua campanha de E-mail Marketin
                </p>
                <h4 style="font-size: 15px;">{{vm.totalEmails}} pessoas</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-panel" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                         aria-valuemax="100" style="width: 50%">
                        <span class="sr-only">50% Complete (danger)</span>
                    </div>
                </div>
                <h3>Orçamento</h3>
                <h1>{{vm.totalPayable | currency:"R$"}}</h1>
                <p>Este é o valor total para você enviar para o alcance.</p>
                <div class="sidebar-stats">
                    <h3 style="color: #fff;">SEUS CRÉDITOS</h3>
                    <div class="sidebar-stats-lead text-primary" style="color: #fff;">
                        <h1 style="font-size: 42px;">{{vm.balanceEmail | currency:"R$"}}</h1>
                        <small class="text-success">
                        </small>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>





