<div class="widgets">
  <div class="row">
    <div class="col-md-9">
      <div ba-panel ba-panel-title="Campanha" ba-panel-class="with-scroll">
        <ba-wizard>
          <ba-wizard-step title="Dados da Campanha" form="vm.personalInfoForm">
            <form name="vm.personalInfoForm" novalidate>
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group has-feedback"
                      ng-class="{'has-error': vm.personalInfoForm.title.$invalid && (vm.personalInfoForm.title.$dirty || vm.personalInfoForm.$submitted)}">
                      <label for="exampleUsername1">Título da campanha</label>
                      <input type="text" class="form-control" id="title" name="title" placeholder="Título" ng-model="vm.personalInfo.title" required>
                      <span class="help-block error-block basic-block">Required</span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group" ng-class="{'has-error': vm.personalInfoForm.link.$invalid && (vm.personalInfoForm.link.$dirty || vm.personalInfoForm.$submitted)}">
                      <label for="exampleInputEmail1">Link da propaganda</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" name="link" placeholder="Link" ng-model="vm.personalInfo.link" required>
                      <span class="help-block error-block basic-block">Required</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group" ng-class="{'has-error': vm.personalInfoForm.description.$invalid && (vm.personalInfoForm.description.$dirty || vm.personalInfoForm.$submitted)}">
                      <label for="exampleInputPassword1">Descrição dacampanha</label>
                      <input type="text" class="form-control" id="description" name="description" placeholder="Descrição" ng-model="vm.personalInfo.description" required>
                      <span class="help-block error-block basic-block">Required</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </ba-wizard-step>
        <ba-wizard-step title="Opçoes de segmentação" form="vm.productInfoForm">
          <div class="row">
            <label for="exampleUsername1" style="padding-left: 12px;">Título da campanha</label>
            <div class="input-group">
              <div class="col-md-6">
               <input type="radio" id="radio1" name="radios" value="all" checked 
               style="display: none;">
               <label for="radio1">Todos</label>
               <input type="radio" id="radio2" name="radios" value="false"
               style="display: none;">
               <label for="radio2">Homens</label>
               <input type="radio" id="radio3" name="radios" value="true"
               style="display: none;">
               <label for="radio3">Mulheres</label>
             </div>
           </div>
         </div>
         <div class="row" style="padding-left: 12px;">
          <div class="slider-box">
            <h5>Idade</h5>
            <ion-slider type="single"
            grid="false"
            min="0"
            max="100"
            from="45"
            disable="false">
          </ion-slider>
        </div>

      </div>
      <div class="input-group">
        <input type="text" ng-model="vm.city" class="form-control with-danger-addon" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-danger" type="button" ng-click="vm.addCity()">Adicionar</button>
        </span>
      </div>
      <div class="horizontal-scroll">
        <table class="table table-hover" cellpadding="100">
          <tbody>
            <tr ng-repeat="item in vm.locations" class="no-top-border">
              <td ng-class="align-left" style="text-align: left;">{{item.formatted_address}}
                <div style="width: 200px;min-height: 36px;">
                  <input type="range" min="0" max="100" ng-model="item.radius" 
                  ng-change="vm.updateItem(item)"/>
                </div>

              </td>
              <td class="table-arr">
                <span class="delete pull-right glyphicon glyphicon-remove" 
                ng-click="vm.removeCity( item)">
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="google-maps"></div>
    <div class="row">
      <div class="col-md-6">
        <div ba-panel ba-panel-title="Orçamento" ba-panel-class="with-scroll">
          <div class="form-group">
            <select ng-options="item as item.label for item in items track by item.id" ng-model="selected" class="form-control selectpicker with-search" data-live-search="false" title="Opção de orçamento" selectpicker></select>
          </div>
          <div class="input-group">
            <span class="input-group-addon addon-left input-group-addon-success">$</span>
            <input type="text" class="form-control with-success-addon" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-addon addon-right input-group-addon-success">.00</span>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div ba-panel ba-panel-title="Programação" ba-panel-class="with-scroll">
          <div class="form-group">
            <label>Periodo de vinculação: <em>{{dtInitial | date:'fullDate' }}</em></label>
            <p class="input-group">
              <input type="text" 
              class="form-control" 
              uib-datepicker-popup="dd/MM/yyyy"
              ng-model="vm.dtWith"
              is-open="vm.dpOpenStatus.withRequired"
              ng-required />
              <span class="input-group-btn">
                <button type="button" 
                class="btn btn-default" 
                ng-click="vm.setDpOpenStatus('withRequired', $event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
        </div>

        <div class="form-group">
          <label>Selected date is: <em>{{dtEnd | date:'fullDate' }}</em></label>
          <p class="input-group">
            <input type="text" 
            class="form-control" 
            uib-datepicker-popup="dd/MM/yyyy"
            ng-model="vm.dtWithout"
            is-open="vm.dpOpenStatus.withoutRequired" />
            <span class="input-group-btn">
              <button type="button" 
              class="btn btn-default" 
              ng-click="vm.setDpOpenStatus('withoutRequired', $event)">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
          </p>
        </div>

      </div>
    </div>

  </div>
</ba-wizard-step>
<ba-wizard-step title="Imagem do anúncio"  form="vm.addressForm">

  <div>
    <div>
      <div class="dropzone" file-dropzone="[image/png, image/jpeg, image/gif]"
      file="vm.imageUrl" file-name="imageFileName" data-max-file-size="3">
      <p>
      </p>
      <p>
        <input class="ng-hide" id="input-file-id" type="file" fileread="vm.imageUrl"/>
        <label for="input-file-id" class="md-button md-raised md-primary">Choose Files</label>

      </p>
      <p>
        or drag and drop them here
      </p>

    </div>
  </div>

  <main class="wrapp" ng-if="vm.imageUrl.length != 0">
    <section class="cropper">
      <div>
        <image-cropper image-url="{{vm.imageUrl}}"
        width="300"
        height="250"
        show-controls="{{vm.showControls}}"
        fit-on-init="false"
        center-on-init="true"
        api="vm.cropperApi"
        crop-callback="vm.updateResultImage"
        action-labels="vm.myButtonLabels">

      </image-cropper>
    </div>
  </section>
</main>

</div>

</ba-wizard-step>
<ba-wizard-step title="Salvar">
  <form class="form-horizontal" name="vm.finishForm" novalidate>
    Aqui vai um preview da campanha criada e um botão para salvar as informações
  </form>
</ba-wizard-step>
</ba-wizard>
</div>
</div>
<div class="col-md-3">
  <div ba-panel ba-panel-title="Informações" ba-panel-class="with-scroll">
    <h2>Alcance</h2>
    <p>
      Acompanhe o alcance médio que seu anuncio pode chegar.
    </p>
    <h4>1.900 P.A Conektta</h4>
    <div class="progress">
      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
        <span class="sr-only">50% Complete (danger)</span>
      </div>
    </div>
    <h4>25.000 usuários</h4>
    <div class="progress">
      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
        <span class="sr-only">90% Complete (danger)</span>
      </div>
    </div>
    <h3>Orçamento Estipulado</h3>
    <h1>R$90,00 </h1>
    <p>É o valor máximo que você deseja gastar.</p>

    <h3>Orçamento Estimado </h3>
    <h1>R$198,00 </h1>
    <p>É uma sugestão de orçamento para sua campanha alcançar um número maior de usuários.</p>
  </div>
</div>
</div>

</div>